/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* /reset */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* common */

/* /common */
/* main */
.main-container {
  display: flex;
}
/* /main */

/* left */
.left-component {
  height: 300px;
  width: 120px;
  border: 1px solid blue;
  border-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* /left */

/* center */
.center-component {
  height: 300px;
  width: 500px;
  border: 1px solid black;
}
.inner-screen {
  background-color: #2a2b2d;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-screen-dark {
  height: 270px;
  width: 465px;
  background-color: #101010;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-screen-light {
  background-color: #2b2c2e;
  height: 218px;
  width: 387px;
  border-radius: 2px;
  box-shadow: inset 0px 5px 0px 0px rgba(0, 0, 0, 0.07);
}
/* /center */

/* right */
.right-component {
  height: 300px;
  width: 120px;
  border: 1px solid red;
  border-radius: 60px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* /right */
