/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* /reset */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* common */

/* /common */
/* main */
.main-container {
  display: flex;
  width: 720px;
  height: 300px;
  position: relative;
}
/* /main */

/* left */
.left-component {
  height: 300px;
  width: 110px;
  background-color: #46b8de;
  border-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 0px 4px 2px 0px #46b8de,
    inset 0px 11px 4px -4px rgb(255, 255, 255, 0.5),
    inset 3px -6px 7px 0px rgba(0, 0, 0, 0.6);

  /* oppure al posto dell'ultimo per l'ombra sinistra e in basso */
  /* inset 0px -6px 7px 0px rgba(0, 0, 0, 0.6); */
  /* inset 6px 0px 5px 3px rgba(0, 0, 0, 0.18); */
  display: flex;
  flex-direction: column;
  z-index: 9;
}
.left-side {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 120px solid #4a4c52;
  position: absolute;
  top: -3px;
  left: -3px;
  transform: rotate(-40deg);
  border-radius: 80px;
  box-shadow: inset 1px -2px 1px 0px rgba(26, 26, 26, 0.93);
}

/* left top */
.left-top {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}
.mines-button {
  width: 16px;
  height: 5px;
  background-color: #5c5c5c;
  border-radius: 1px;
  position: absolute;
  top: 25px;
  right: 8px;
  box-shadow: inset 1px -2px 2px 0px #1a1a1a,
    0px 1px 1px 0px rgba(26, 26, 26, 0.7);
}
.big-button {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #2d3033;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 1px -8px 4px 1px rgba(17, 17, 17, 0.8),
    inset 0px 1px 3px 1px rgba(13, 13, 13, 0.98),
    inset 0px 1px 5px 1px rgba(227, 227, 227), 0px 0px 2px 1px #2b2b2b;
}
.inner-button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px rgba(207, 207, 207, 0.7),
    0px -2px 1px 0px rgba(26, 26, 26, 0.96),
    inset 0px -3px 3px 0px rgba(26, 26, 26, 0.96),
    inset -1px 3px 10px 0px #919191;
}
/* /left top */

/* left center */
.left-center {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.left-center .button {
  background-color: #49484e;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  box-shadow: inset 0px -2px 1px 2px rgba(36, 36, 36, 0.67),
    inset 0px 0px 1px 2px rgba(196, 196, 196, 0.67),
    0px 1px 3px 1px rgba(0, 0, 0, 0.98);
  align-self: center;
  text-align: center;
  line-height: 23px;
}
.button i {
  color: #191f21;
  line-height: 23px;
}

/* /left center */

/* left bottom */
.left-bottom {
  height: 100px;
  width: 100%;
  position: relative;
}
.left-bottom .top-right {
  width: 20px;
  height: 20px;
  background-color: #444444;
  border-radius: 2px;
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -1px 1px 2px rgba(36, 36, 36, 0.67),
    0px 1px 1px 1px rgba(0, 0, 0, 0.98);
}
.left-bottom .top-right .inner-top-right {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #373436;
  text-align: center;
  line-height: 9px;
  color: #373436;
  box-shadow: 0px 1px 1px 1px rgba(143, 143, 143, 0.17);
}

/* left bottom */
/* /left */

/* center */
.center-component {
  height: 300px;
  width: 500px;
}
.inner-screen {
  background-color: #373436;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 3px 2px 0px #504f4f,
    inset 0px 11px 4px -4px rgba(189, 187, 187, 0.54),
    inset 0px -9px 2px 0px rgba(0, 0, 0, 0.24);
}
.inner-screen-dark {
  height: 280px;
  width: 465px;
  background-color: #101010;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 2px -2px rgba(74, 74, 74, 0.4);
}
.inner-screen-light {
  background-color: #2b2c2e;
  height: 222px;
  width: 387px;
  border-radius: 1px;
  box-shadow: inset 0px 5px 0px 0px rgba(0, 0, 0, 0.07);
}
/* /center */

/* right */
.right-component {
  height: 300px;
  width: 110px;
  background-color: #ec5f53;
  border-radius: 60px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: inset 0px 4px 2px 0px #ec5f53,
    inset 0px 11px 4px -4px rgb(255, 255, 255, 0.5),
    inset -3px -6px 5px 0px rgba(0, 0, 0, 0.3);
}
/* /right */
