/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* /reset */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* common */

/* /common */
/* main */
.main-container {
  display: flex;
}
/* /main */

/* left */
.left-component {
  height: 300px;
  width: 120px;
  border: 1px solid blue;
  border-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* /left */

/* center */
.center-component {
  height: 300px;
  width: 500px;
  border: 1px solid black;
}
.inner-screen {
  background-color: #373436;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 3px 2px 0px #504f4f,
    inset 0px 11px 4px -4px rgba(189, 187, 187, 0.54),
    inset 0px -9px 2px 0px rgba(0, 0, 0, 0.24);
}
.inner-screen-dark {
  height: 280px;
  width: 465px;
  background-color: #101010;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 2px -2px rgba(74, 74, 74, 0.4);
}
.inner-screen-light {
  background-color: #2b2c2e;
  height: 218px;
  width: 387px;
  border-radius: 2px;
  box-shadow: inset 0px 5px 0px 0px rgba(0, 0, 0, 0.07);
}
/* /center */

/* right */
.right-component {
  height: 300px;
  width: 120px;
  border: 1px solid red;
  border-radius: 60px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* /right */
